.wrapper{
    max-width: 100%;
}
.container{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}
.contact{
    font-size: 25px;
    text-align: left;
    /* background-color: red; */
}
.sect{
    position: relative;
    height: 'auto';
}
.service{
    width: 30%;
    /* background-color: red; */
}
.service h3{
    text-align: center;
}
.info{
    position: relative;
    flex-direction: row;
    /* background-color: royalblue; */
    /* align-items: center; */
    margin: auto;
    left: 250px;
}
.pic{
    width: 100%;
    max-height: 800px;
    margin: auto;
    box-shadow: 5px 10px 18px #888888;
    object-fit: cover;
    display: block;
}
.servicePic{
    width: 100%;
    max-height: 200px;
    object-fit: cover;

}
.writing {
    position: relative;
    width: 50%;
    padding-bottom: 100px;
    
    /* background-color: rosybrown; */
    margin: auto;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
.writing h1{
    /* position: relative; */
    text-align: center;
    top: 0px;
    border: 3px rebeccapurple;
    font-size: 50px;
    color: #2C0A28;
    padding: 20px;
    /* text-decoration: underline; */
}
.writing p{
    font-size: 30px;
    text-align: left;
}
.onPic {
    position: absolute;
    bottom: 100px;
    /* right: 0px; */
    margin-left: 50%;
    margin-right: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
    padding: 20px;
}
.onPic h1{
    color: white;
}
.onPic h3{
    color: white;
}
.services {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 320px){
    .onPic{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .onPic h1{
        font-size: 21px;
    }
    .onPic h3{
        font-size: 18px;
    }
    .services{
        display: block;
    }
    .service{
        width: 100%;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 375px){
    .onPic{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;        
    }
    .services{
        display: block;
    }
    .service{
        width: 100%;
        padding-bottom: 10px;
    }
    .onPic h1{
        font-size: 21px;
    }
    .onPic h3{
        font-size: 18px;
    }
}
@media screen and (max-width: 414px){
    .onPic{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .services{
        display: block;
    }
    .service{
        width: 100%;
        padding-bottom: 10px;
    }
    .onPic h1{
        font-size: 21px;
        text-align: right;
    }
    .onPic h3{
        font-size: 18px;
        text-align: right;
    }
}


@media screen and (max-width: 768px){
    .info{
        left: inherit;
    }
}
@media screen and (max-width: 1024px) {
    .info{
        left: inherit;
    }
    
}

