.container {
    position: relative;
    width: 70%;
    height: auto;
    overflow: hidden;
    /* overflow-y: scroll; */
    /* top: 40px; */
    border: 5px black;
    border-radius: 10px;
    margin: auto;
    /* padding: 20px 0px; */
    background-color: red;

}

@media only screen and (max-width: 375px){
    .container{
        width: 100%;
    }

}