.container {
    position: relative;
    width: 65%;
    height: 850px;
    overflow: hidden;
    overflow-y: scroll;
    top: 30px;
    background-color: lightgray ;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px 0px;

}