.container {
    width: 100%;
}

.artstone {
    position: absolute;
    top: 0px;
    width: 100%;
    right: 30px;
    text-align: center;
}
.artstone img{
    position: absolute;
    
    width: 46px;

}


.slider{
    position: relative;
    top: 0px;
    margin: auto;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    box-shadow: 5px 10px 18px #888888;

}

.slider img{
    width: 100%;
    height: 810px;
}

@media only screen and (max-width: 375px) {
    .artstone {
        left: 50px;
    }
    .slider img{
        width: 100%;
    }
}
