.artstone {
    position: absolute;
    top: 0px;
    width: 100%;   
    right: 35px; 
    text-align: center;
    background-color: red;
}
.artstone img{
    position: absolute;

}


.slider{
    position: relative;
    top: 0px;
    margin: auto;
    width: auto;
    height: auto;
    box-shadow: 5px 10px 18px #888888;

}

.slider img{
    width: 100%;
    height: 810px;
}

