.singleCard{
    float: left;
    list-style: none;
    width: 20%;
    height: 300px;
    margin: 10px 10px 0px 40px;
    text-align: center;
    padding: 1px;
}
.singleCard:hover{
    opacity: 0.9;
}

.singleCard img{
    width: 100%;
    height: auto;

}
