.singleCard{
    float: left;
    list-style: none;
    width: 20%;
    height: 300px;
    margin: 40px 40px 0px 60px;
    text-align: center;
    padding: 1px;

}
.singleCard:hover{
    opacity: 0.9;
}

.singleCard img{
    width: 100%;
    height: 220px;

}
